{# src/PileUp/TwitterBundle/Resources/views/Layout/addTweet.html.twig #}
{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : 'PileUpScheduleBundle::Layout/dashboardAccount.html.twig' %}

{% block content %}

<div class="row">

    <div class="small-12 columns">
        {% if tweetpreview is not empty  %}

            {% if form is defined %}
                {{ form_errors(form) }}
                    <h1>Schedule a retweet</h1>
                    <form action="{{ path('pile_up_schedule_select_retweet') }}" method="post" {{ form_enctype(form) }} id="Retweet_form">
                        {{ form_widget(form) }}

                        {% if tweetpreview is defined  %}
                            {% for tweet in tweetpreview %}
                            <div class="retweet-preview">

                                {% if tweet.path is not null %}
                                <div class="tweet-image">
                                    <img src="{{ path }}{{ tweet.path }}.{{ tweet.type }}" alt="Preview image" />
                                </div>
                                {% endif %}

                                <div class="tweet-text">
                                    {{ tweet.tweetContent }}
                                    <a href="#" title="Select" class="small button retweet-control" data-ref="{{ tweet.id }}">Schedule Retweet</a>
                                </div>

                            </div>
                            {% endfor %}
                        {% endif %}
                        <input type="submit" value='Retweet' class="hide"/>
                     </form>
            {% endif %}
        {% else %}
            <h3>Sorry, no tweets available to retweet</h3>
        {% endif %}

    </div>

</div>

{% endblock %}
