{# src/PileUp/TwitterBundle/Resources/views/Layout/editTweet.html.twig #}
{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : 'PileUpScheduleBundle::Layout/dashboardAccount.html.twig' %}

{% block content %}

    <div class="row">

        <div class="small-12 columns">

            {% if form is defined %}
                {{ form_errors(form) }}
                <h1>Edit tweet</h1>
                <form action="{{ path('pile_up_schedule_edit_tweet', {'slot':slot, 'tweet':tweet} ) }}" method="post" {{ form_enctype(form) }} class="form-ajax">

                    {{ form_errors(form) }}

                    {{ form_row(form.tweetContent) }}

                    <div class="group">
                        {% if path %}
                            <div style="float:left">
                                <img src='{{ path }}' alt='' width='100'/>
                            </div>
                        {% endif %}
                        <div style="float:left">
                            {{ form_row(form.twitterImage) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}

                    <input type="submit" value='Edit'/>
                </form>
            {% endif %}

        </div>

    </div>

{% endblock %}