{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/accountListing.html.twig #}

{% if accounts %}

    <ul>
    {%  for account in accounts %}

        {% if app.session.get('accountId') is defined and app.session.get('accountId') == account.id %}

            <li>
                <a href="{{ path('pile_up_schedule_set_account', {'accountId':account.id}) }}" title="See {{ account.screen_name }}'s dashboard">
                    <img src="{{ account.account_avatar }}" alt="{{ account.screen_name }}" class="current-selected"/>
                </a>
                {#<a href="{{ path('pile_up_schedule_remove_account', {'account':account.id}) }}" title="Remove Account">Delete</a>#}
            </li>

        {% else %}

            <li>
                <a href="{{ path('pile_up_schedule_set_account', {'accountId':account.id}) }}" title="See {{ account.screen_name }}'s dashboard">
                    <img src="{{ account.account_avatar }}" alt="{{ account.screen_name }}"/>
                </a>
                {#<a href="{{ path('pile_up_schedule_remove_account', {'account':account.id}) }}" title="Remove Account">Delete</a>#}
            </li>

        {% endif %}

    {% endfor %}
    </ul>

{% else %}

    <h3>No Accounts</h3>

{% endif %}