{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/archiveListing.html.twig #}

{% if archives %}

    <div id="archive">
        <div class="panel">
            <p>{{ archives.getTotalItemCount }} | {{ knp_pagination_render(archives) }}</p>
        </div>

        <table class="responsive" width="100%">

            <thead>
                <tr>
                    <th>Account</th>
                    <th>Content</th>
                    <th>Sent on:</th>
                </tr>
            </thead>

            <tbody>
                {%  for archive in archives %}

                    <tr>
                        <td><img src="{{ archive.account_avatar }}" alt="{{ archive.screen_name }}"/></td>
                        <td>{{ archive.tweetContent }}</td>
                        <td>{{ archive.tweetTime.date|date("h:ia d/m/Y") }}</td>
                    </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>

{% else %}

    <h3>No Archived Tweets</h3>

{% endif %}