{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/scheduleListing.html.twig #}
{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : 'PileUpScheduleBundle::Layout/dashboardAccount.html.twig' %}


{% block content %}

    <div class="response">

        {{ form_errors(slot.form) }}

        <form action="{{ path('pile_up_schedule_stack_tweet') }}" method="post" {{ form_enctype(slot.form) }} id="tweet-form-{{ key }}" class="form-ajax">
            {{ form_errors(slot.form) }}

            {{ form_row(slot.form.tweetContent) }}

            {{ form_label(slot.form.twitterImage) }}
            {{ form_errors(slot.form.twitterImage) }}

            {{ form_widget(
                slot.form.twitterImage,
                    {
                    'attr': {'class': 'image-' ~ key }
                    }
                )
            }}


            {{ form_rest(slot.form) }}

            <input type="submit" value='Pile Up!' id="tweet-submit-{{ key }}"/>
            <a href="{{ path('pile_up_schedule_select_retweet', {'slot':slot.slot_id, 'day':curDay|date('d')  , 'month':curDay|date('m')  , 'year':curDay|date('Y') }) }}" title="Schedule a retweet" class="small button reveal" data-size="large">schedule retweet</a>
            <div class="error"></div>
        </form>

    </div>

{% endblock %}
