{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/scheduleListing.html.twig #}
{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : 'PileUpScheduleBundle::Layout/dashboardAccount.html.twig' %}


{% block content %}

    <div class="tweet-card" id="tweet-{{ tweet.id }}">

        <div class="tweet-details group small-12">

            <div class="content small-10">
                <div class="text">
                    {% if tweet.img is not null %}
                        <img src='{{ tweet.img }}' alt='' class='image-preview'/>
                    {% endif %}

                    <p>"{{ tweet.content }}"</p>
                </div>
            </div>

        </div>

        <div class="controls group">
            <a href="{{ path('pile_up_schedule_send_tweet', {'tweet':tweet.id}) }}" title="Send Now!" class="button small">Send</a>
            <a href="{{ path('pile_up_schedule_edit_tweet', {'slot': tweet.slot_id, 'tweet':tweet.id}) }}" title="Edit" class="button small reveal" data-size="medium">Edit</a>
            <a href="{{ path('pile_up_schedule_remove_tweet', {'tweet':tweet.id}) }}" title="Remove" class="button small remove" data-tweet="tweet-{{ tweet.id }}">Remove</a>
        </div>

        <div class="error"></div>

    </div>

{% endblock %}
