{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/tweetListing.html.twig #}


<a href="{{ path('pile_up_schedule_planner_prev', {'year': year, 'month':monthprev, 'day':day } ) }}" title="View prev month" class="small button cal-pag">prev month</a>
  {{ monthstring }} - {{ year }}
<a href="{{ path('pile_up_schedule_planner_next', {'year': year, 'month':monthnext, 'day':day }) }}" title="View next month" class="small button cal-pag">next month</a>

{% if calendar %}

    <div class="small-12 columns calendar">

            <ul class="small-block-grid-1 large-block-grid-7 calendar-header">
                <li class="calendar-day">Monday</li>
                <li class="calendar-day">Tuesday</li>
                <li class="calendar-day">Wednesday</li>
                <li class="calendar-day">Thursday</li>
                <li class="calendar-day">Friday</li>
                <li class="calendar-day">Saturday</li>
                <li class="calendar-day">Sunday</li>
            </ul>

            {%  for week in calendar %}
                {% for item in week %}
                    <ul class="small-block-grid-1 large-block-grid-7 calendar-week">

                        {# write out the blank days at the start of the month #}
                        {% if item.blankstart is defined %}
                            {% for blank in item.blankstart %}
                                <li class="calendar-day blank">&nbsp</li>
                            {% endfor %}
                        {% endif %}

                        {# Print out the actual days in the month #}
                        {% for day in item.day %}
                                <li class="calendar-day{{ day.current ? ' current'}}{{ day.past ? ' past' }}{{ day.completed ? ' completed' : ' incomplete' }}{{ day.empty ? ' empty'}}{{ day.blank ? ' blank'}}">
                                    <div class="date">{{ day.dateNum }}</div>

                                    {% if not day.empty and not day.past %}
                                        <a href="{{ path('pile_up_schedule_get_schedule', {'day' : day.dateNum, 'month' : month, 'year' : year}) }}"  title="View schedule" class="view-schedule schedule-pag" data-size=''></a>
                                    {% endif %}

                                    {% if not day.empty and not day.past %}
                                        <div class="schedule-list">
                                            <ul>
                                                {% for slot in day.slots|slice(0,5) %}
                                                    <li>{{ slot.slotTime|date("h:i A") }}</li>
                                                {% endfor %}
                                            </ul>

                                            {% if day.slots|length > 5 %}
                                                <p>Click to view all</p>
                                            {%  endif %}

                                        </div>
                                    {% endif %}

                                    {% if not day.past %}
                                        <a href="{{ path('pile_up_schedule_set_slot_specific', {'day' : day.dayCode}) }}" class="add-slot reveal" data-size='small' title="Add slot">add</a>
                                    {% endif %}

                                </li>
                        {% endfor %}

                        {# write out the blank days at the end of the month #}
                        {% if item.blankend is defined %}
                            {% for blank in item.blankend %}
                                <li class="calendar-day blank">&nbsp</li>
                            {% endfor %}
                        {% endif %}

                    </ul>
                {% endfor %}
            {% endfor %}

        </div>

{% else %}

    <h3>Error finding the calendar</h3>

{% endif %}