{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/scheduleListing.html.twig #}
{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : 'PileUpScheduleBundle::Layout/dashboardAccount.html.twig' %}


{% block content %}

    <div class='row'>

        <div class="small-12 small-centered columns">

            {# Output the day pagination controls #}
            <a href="{{ path('pile_up_schedule_get_schedule', {'day' : prevDay|date('d'), 'month' : prevDay|date('m'), 'year' : prevDay|date('Y') }) }}"  title="Tomorrow's schedule" class="small button schedule-pag">prev</a>
                {{ curDay|date('d (l) - F - Y') }}
            <a href="{{ path('pile_up_schedule_get_schedule', {'day' : nextDay|date('d'), 'month' : nextDay|date('m'), 'year' : nextDay|date('Y') }) }}"  title="Tomorrow's schedule" class="small button schedule-pag">next</a>

            <a href="{{ path('pile_up_schedule_set_slot_specific', {'day' : slotDay}) }}" class="add-slot small right button reveal" data-size='small' title="Add slot">add slot</a>

            {# If there are slots defined for the current day #}
            {% if schedule is defined %}

            <div class="panel">

                {% if schedule is not empty %}

                {% for key,slot in schedule %}

                    <div class="row tweet-slot">

                        <div class="small-12 large-2 columns">
                            <h5>{{ slot.time|date('h:ia')  }}</h5>
                        </div>
                        <div class="small-12 large-10 columns">

                    {# If a tweet has not been scheduled #}
                    {% if slot.form is not null %}

                        <div class="response">



                            {{ form_errors(slot.form) }}
                            <form action="{{ path('pile_up_schedule_stack_tweet') }}" method="post" {{ form_enctype(slot.form) }} id="tweet-form-{{ key }}" class="form-ajax">

                                <div class="row">
                                    <div class="small-12 large-9 columns">
                                        {{ form_widget(slot.form.tweetContent, {
                                                'attr': {'class': 'tweet-content-input', 'data-ref' :'tweet-submit-' ~ key, 'tabindex': loop.index0+1  }
                                            })
                                        }}
                                    </div>
                                    <div class="small-12 large-3 columns">
                                        {{ form_widget(
                                            slot.form.twitterImage,
                                            {
                                                'attr': {'class': 'schedule-image image-' ~ key }
                                            }
                                        )
                                        }}
                                        <div class="group schedule-controls">
                                            <a href="#" title="Add an image" class="icon-image-upload upload-btn" data-ref="image-{{key}}"></a>
                                            <a href="{{ path('pile_up_schedule_select_retweet', {'slot':slot.slot_id, 'day':curDay|date('d')  , 'month':curDay|date('m')  , 'year':curDay|date('Y') }) }}" title="Schedule a retweet" class="icon-retweet reveal" data-size="large"></a>
                                            <a href="{{ path('pile_up_schedule_remove_slot', {'slot':slot.slot_id} ) }}" title="Delete Slot" class="icon-delete-slot confirm-slot"></a>
                                        </div>
                                        {{ form_rest(slot.form) }}
                                        <input type="submit" value='Pile Up!' id="tweet-submit-{{ key }}" class="medium button schedule-submit"/>
                                    </div>
                                </div>

                                <div class="uploaded-image-{{ key }}"></div>
                                <div class="error"></div>

                            </form>
                        </div>

                    {# If a tweet has been scheduled show the preview #}
                    {% elseif slot.tweet is not null %}

                        <div class="tweet-card" id="tweet-{{ slot.tweet.id }}">

                            <div class="tweet-details group small-12">

                                <div class="content small-12">
                                    <div class="text">
                                        {% if slot.tweet.path %}
                                            <img src='{{ path }}{{ slot.tweet.path }}.{{ slot.tweet.type }}' alt='' class='image-preview' id='image-{{ key }}'/>
                                        {% endif %}

                                        <p>"{{ slot.tweet.tweetContent }}"</p>
                                    </div>
                                </div>

                            </div>

                            <div class="controls group">
                                {% if slot.tweet.tweetedId %}
                                    <a href="{{ path('pile_up_schedule_send_retweet', {'tweet':slot.tweet.id}) }}" title="Send Now!" class="button small">Send</a>
                                    <a href="{{ path('pile_up_schedule_remove_retweet', {'tweet':slot.tweet.id}) }}" title="Remove" class="button small">Remove</a>
                                {% else %}
                                    <a href="{{ path('pile_up_schedule_send_tweet', {'tweet':slot.tweet.id}) }}" title="Send Now!" class="button small">Send</a>
                                    <a href="{{ path('pile_up_schedule_edit_tweet', {'slot': slot.slot_id, 'tweet':slot.tweet.id}) }}" title="Edit" class="button small reveal" data-size="medium">Edit</a>
                                    <a href="{{ path('pile_up_schedule_remove_tweet', {'tweet':slot.tweet.id}) }}" title="Remove" class="button small remove" data-tweet='tweet-{{ slot.tweet.id }}'>Remove</a>
                                {% endif %}
                            </div>

                            <div class="error"></div>

                        </div>

                        {# Tweet was not added in time but still display the slot container #}
                    {% else %}

                        <div class="tweet-card">

                            <div class="tweet-details group small-12">

                                <div class="content small-10">
                                    <div class="text">
                                        <p>This slot is no longer available</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    {% endif %}
                    </div>

                    <hr/>

                 </div>

                {% endfor %}

            {% else %}

                <h3>No slots Scheduled today</h3>

            {% endif %}
                </div>
            {% endif %}



        </div>


    </div>

{% endblock %}
