{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/userMenu.html.twig #}

<div class="group button-bar">

    {% if year is defined %}
        <a href="#" title="Control Panel" class="small button view-controls">Calendar</a>
    {% endif %}

    <a href="{{ path('pile_up_schedule_remove_account', {'account' : app.session.get('accountId')}) }}" title="Remove your account" class="small button confirm">Remove account</a>
    <a href="{{ path('pile_up_schedule_set_slot') }}" title="Create a schedule slot" class="small button reveal" data-size='small'>Add a slot</a>
    <a href="{{ path('pile_up_schedule_archive') }}" title="View your archive" class="small button">View archive</a>
</div>
