{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/tweetListing.html.twig #}

{% if tweets %}

    <div id="dashboard-tweets-holder">

        {%  for tweet in tweets %}
            <div class="tweet-card" id="tweet-{{ tweet.id }}">

                <div class="tweet-details group small-12">

                    <div class="avatar small-2">
                        <img src="{{ tweet.account_avatar }}" alt="{{ tweet.screen_name }}"/>
                    </div>

                    <div class="content small-10">
                        <div class="text">
                            {% if tweet.path %}
                                <img src='{{ path }}{{ tweet.path }}.{{ tweet.type }}' alt='' />
                            {% endif %}

                            <p>"{{ tweet.tweetedId ? 'RT: ' }}{{ tweet.tweetContent }}"</p>
                        </div>
                        <div class="date">
                            {{ tweet.slotTime.date|date('h:ia') }} {{ tweet.tweetDate.date|date('d/m/Y') }}
                        </div>
                    </div>

                </div>

                <div class="controls group">
                    {% if tweet.tweetedId %}
                        <a href="{{ path('pile_up_schedule_send_retweet', {'tweet':tweet.id}) }}" title="Send Now!" class="button small">Send</a>
                        <a href="{{ path('pile_up_schedule_remove_retweet', {'tweet':tweet.id}) }}" title="Remove" class="button small">Remove</a>
                    {% else %}
                        <a href="{{ path('pile_up_schedule_send_tweet', {'tweet':tweet.id}) }}" title="Send Now!" class="button small">Send</a>
                        <a href="{{ path('pile_up_schedule_edit_tweet', {'slot': tweet.slot_id, 'tweet':tweet.id}) }}" title="Edit" class="button small reveal" data-size="medium">Edit</a>
                        <a href="{{ path('pile_up_schedule_remove_tweet', {'tweet':tweet.id}) }}" title="Remove" class="button small remove" data-tweet='tweet-{{ tweet.id }}'>Remove</a>
                    {% endif %}
                </div>

                <div class="error"></div>

            </div>
        {% endfor %}

        {% if tweets.getTotalItemCount > 10 %}
            <div class="panel" id="dashboard-tweets">
                {{ knp_pagination_render(tweets) }}
            </div>
        {% endif %}

    </div>

{% else %}

    <div class="alert-box secondary">
        <p>No tweets scheduled</p>
    </div>

{% endif %}