{# src/PileUp/ScheduleBundle/Resources/views/Layout/partials/userMenu.html.twig #}

{% block userMenu %}

    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}" title="Logout">{{ app.user.username }} | Logout</a>
            </li>
        </ul>

        <ul class="left">
            <li class="divider"></li>
            <li>
                <a href="{{ path('pile_up_schedule_homepage') }}" title="Dashboard">Dashboard</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('pile_up_schedule_add_account') }}" title="Add Twitter Account">Add Twitter Account</a>
            </li>
            <li class="divider"></li>
        </ul>
    </section>

{% endblock %}