// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";


// compass imports
@import "compass/css3/border-radius";
//@import "compass/css3/transition";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// Font setting




// Menu Styles
.top-bar .name h1 a
  {
  color: #FFF;
}


// Tweet display styles

.tweet-card
  {
  margin-bottom: 1em;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  padding: .5em;

}

  .tweet-card .tweet-details
    {
    padding: .5em;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    @include border-radius(10px, 10px);
  }

      .tweet-card .avatar,
      .tweet-card .content
        {
       float: left;
      }

      .tweet-card .content
        {
        padding-left: 0.5em;
        padding-right: 0.5em;

          p
          {
            margin-bottom: 0em;
          }

          .text
          {
            font-style: italic;
          }

          .date
          {
            font-size: .5em;
          }
      }


  .tweet-card .controls
    {

    padding-top: .5em;

    .button
      {
      float: right;
      margin-bottom: 0em;
      margin-left: .5em;
    }

  }



// Specific menu styles

.control-panel
  {
    @extend .hide-for-small;
}

.control-panel-hide
  {
  @extend .hide-for-medium;
  @extend .hide-for-large;
  @extend .hide-for-xlarge;
}

.accounts
{
  padding: .5em;
}

.account-menu ul
{
  list-style: none;
  margin: 0em;
  padding: 0em;

    li
    {
      float: left;
      padding: 0px 6px 0px 0px;
      height: 52px;
      overflow: hidden;
    }

    a
    {
      display: block;
    }

    img
    {
      border: 2px solid #111;
      opacity: .25;
    }

    img:hover
    {
      opacity: .5;
    }

}

.current-selected
  {
  opacity: 1 !important;
}

.account-controls .button-bar
  {
  padding: .75em 0em 0em 0em;
}

.account-controls .button
  {

  float: right;
  margin: 0em 0em 0em .5em;

}





// calendar styles

.calendar
  {
  font-size: 0.5em;
}

.calendar-header
  {
  border-left: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
}

  .calendar-header .calendar-day
    {
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding-top: .5em;
    background-color: #2BA6CB;
    color: #FFF;
  }

.calendar-week
  {
    border-left: 1px solid #D9D9D9;
  }

    .calendar-week .calendar-day
      {
      position: relative;
      height: 60px !important;
      overflow: hidden;
      border-right: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      background-color: #F2F2F2;
      padding: 0px !important;
    }

    .calendar-week .blank
      {
      background-color: #FFFFFF;
      height: auto;
    }

    .calendar-week .current
      {
      background-color: #2BA6CB !important;
      color: white;

      .add-slot
        {
        color: white !important;
      }
    }

    .calendar-week .completed
      {
      background-color: seagreen;
      color: white;
    }

    .calendar-week .past
      {
      background-color: darkgray !important;
      color: white !important;
    }

    .calendar-week .empty
      {
      background-color: white;
      color: black;
    }

        .calendar-day .date
          {
          position: absolute;
          z-index: 1;
          top: 0.1em;
          right:0.25em;
        }

        .calendar-day .view-schedule
          {
          position: absolute;
          z-index: 2;
          display: block;
          width:100%;
          height: 100%;
        }

        .calendar-day .schedule-list
          {
          position: absolute;
          z-index: 1;
          top: 0.1em;
          left: 0.5em;
          font-size: 0.5em;
          font-style: italic;
          width: 70%;

            ul
              {
              list-style: none;
              margin: 0em;
              padding: 0em;
            }


            li
            {
              margin-top: 0em;
              margin-right: 0.5em;
              margin-left: 0em;
              margin-bottom: 0.1em;
            }
        }

        .calendar-day .add-slot
          {
          position: absolute;
          bottom: 0.1em;
          right: 0.5em;
          z-index: 3;
        }


//Schedule form styles

.tweet-content-input
  {
  height: 100px;
  border: none;
  @include border-radius(10px, 10px);

}

.schedule-controls
  {
  padding: 10px 0px 10px 0px;
}

.schedule-image
  {
  display: none;
}

.schedule-submit
  {
  width: 100% !important;
}

.icon-retweet
  {
  display:block;
  float: left;
  width: 44px;
  height: 32px;
  background-image: url('../images/icon-retweet.png');
  background-repeat: no-repeat;
}

.icon-image-upload
  {
  display:block;
  float: left;
  width: 44px;
  height: 32px;
  background-image: url('../images/icon-image-upload.png');
  background-repeat: no-repeat;
}

.icon-delete-slot
  {
  display:block;
  float: right;
  width: 44px;
  height: 32px;
  background-image: url('../images/icon-delete-slot.png');
  background-repeat: no-repeat;
}

.image-preview
  {
  float: left;
  width: 100px;
  @include border-radius(10px, 10px);
}

.big-image-preview
  {

  text-align: center;

  img
    {
    margin: 0px auto 0px auto;
  }
}

.tweet-slot .tweet-details p
  {
  padding: 10px 0px 10px 10px;
}


//non-mobile specific styles

@media #{$small} {

  .tweet-slot .tweet-details p
    {
    float:left;
  }

}