<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>

    {% block meta %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Foundation 4</title>
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/pileupapp/stylesheets/app.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/pileupapp/stylesheets/normalize.css') }}" />
    {% endblock %}


    {% block javascripthead %}
        <script src="{{ asset('bundles/pileupapp/javascripts/vendor/custom.modernizr.js') }}"></script>
    {%  endblock %}

</head>
<body>

<div class="row">


    <div class="small-12 small-centered columns">

    {% block menu %}

        <nav class="top-bar">

                <ul class="title-area">
                    <li class="name"><h1><a href="{{ url('pile_up_user_homepage') }}" title="PileUp!">PileUp!</a></h1></li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                {% if is_granted('ROLE_USER') %}

                    {{ include('PileUpScheduleBundle:Layout:Partials/userMenu.html.twig') }}

                    {% if is_granted('ROLE_ADMIN') %}
                    {%  endif %}

                {% else %}

                    {{ include('PileUpAppBundle:Layout:Partials/publicMenu.html.twig') }}

                {% endif %}

        </nav>

    {% endblock %}

    {% block message %}
    {% endblock %}

    </div>
</div>

    {% block usermenu %}
    {% endblock %}

    {% block content %}
    {% endblock %}

{% block javascriptfooter %}

    <!-- Check for Zepto support, load jQuery if necessary -->
    <script>
        document.write('<script src=/bundles/pileupapp/javascripts/vendor/'
                + ('__proto__' in {} ? 'zepto' : 'jquery')
                + '.js><\/script>');
    </script>

    <script src="{{ asset('bundles/pileupapp/javascripts/foundation/foundation.js') }}"></script>
    <script src="{{ asset('bundles/pileupapp/javascripts/foundation/foundation.topbar.js') }}"></script>
    <script src="{{ asset('bundles/pileupapp/javascripts/foundation/foundation.reveal.js') }}"></script>

    <script src="{{ asset('bundles/pileupapp/javascripts/lib/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/pileupapp/javascripts/lib/lib.js') }}"></script>
    <script src="{{ asset('bundles/pileupapp/javascripts/app.js') }}"></script>

{% endblock %}

    <div id="revealHolder" class="reveal-modal"></div>

</body>
</html>