{# src/PileUp/AppBundle/Resources/views/Layout/Partials/publicMenu.html.twig #}

{#
    This is the public menu that is viewed before the user has authenticated, this may include links that do not require
    authentication to view, as well as login and registration forms.
#}


{% block publicMenu %}

    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <li>
                <a href="{{ url('fos_user_security_login') }}" title="login">Login</a>
            </li>
            {#<li class="divider"></li>#}
            {#<li>#}
                {#<a href="{{ url('fos_user_registration_register') }}" title="Register">Register</a>#}
            {#</li>#}
        </ul>
    </section>

{% endblock %}