{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="small-12 large-6 columns large-centered">
            <div class="panel">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}