{# src/PileUp/TwitterBundle/Resources/views/Layout/addTweet.html.twig #}
{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : 'PileUpScheduleBundle::Layout/dashboardAccount.html.twig' %}

{%  block message %}
    {% for flashMessage in flashMessages %}
        <div class="alert-box">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="small-12 columns small-centered">

            <div class="panel">

                {% if form is defined %}
                    {{ form_errors(form) }}
                    <h1>Add schedule slot</h1>
                    <form action="{{ action }}" method="post">
                        {{ form_widget(form) }}
                        <input type="submit" value='Add Slot'/>
                    </form>
                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
