{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : 'PileUpScheduleBundle::Layout/dashboardAccount.html.twig' %}


{% block content %}


    {% if ajax %}
        <div id="archive-holder">
            {% render(controller('PileUpScheduleBundle:Dashboard:getAccountArchive', {'page':page})) %}
        </div>
    {% else %}
    <div class="row">

        <div class="large-12 small-12 columns">

            <h2>Your Archive:</h2>

            <div id="archive-holder">
                {% render(controller('PileUpScheduleBundle:Dashboard:getAccountArchive', {'page':page})) %}
            </div>

        </div>

    </div>
    {%  endif %}

{% endblock %}
