{# src/PileUp/ScheduleBundle/Resources/views/Layout/dashboardAccount.html.twig #}
{% extends 'PileUpScheduleBundle::Layout/dashboard.html.twig' %}

{%  block message %}

    {% if flashMessages is defined%}
        {% for flashMessage in flashMessages %}
            <div class="alert-box">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}

{% block usermenu %}

    <div class="row">

        <div class="large-12 small-12 columns">
            <div class="panel group accounts">

                <div class="row collapse">

                    <div class="small-6 columns account-menu">
                            {% render(controller('PileUpScheduleBundle:Dashboard:getAccounts')) %}
                    </div>

                    <div class="small-6 columns">
                        {% include('PileUpScheduleBundle:Layout:Partials/specificMenu.html.twig') %}
                    </div>

                </div>

                {% if year is defined %}
                <div class="row control-panel control-panel-hide" id="specific-controls">

                    <div class="small-12 columns collapse">

                        <h2>Your Calender:</h2>

                        <div id="calendar">
                            {% render(controller('PileUpScheduleBundle:Calendar:getCalendar', {
                            'year': year,
                            'month': month,
                            'day': day
                            })) %}
                        </div>

                    </div>

                </div>
                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}

{% block content %}

    <div class="row">

        <div class="large-12 small-12 columns collapse">
            <h2>Your Schedule:</h2>

            <div id="schedule">
                {% render(controller('PileUpScheduleBundle:Scheduler:getCurrentSchedule', {
                'year': year,
                'month': month,
                'day': day
                })) %}
            </div>

        </div>

    </div>


{% endblock %}
