{# src/PileUp/ScheduleBundle/Resources/views/Layout/dashboard.html.twig #}
{% if ajax is not defined %}
    {% set ajax = false %}
{% endif %}

{% extends ajax ? 'PileUpScheduleBundle::Layout/ajax.html.twig' : '::base.html.twig' %}


{%  block message %}

    {%  if flashMessages is defined %}
        {% for flashMessage in flashMessages %}
            <div class="alert-box">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block usermenu %}

    <div class="row">

        <div class="large-12 small-12 columns">
            <div class="panel group accounts">

                <div class="row collapse">

                    <div class="small-6 columns account-menu">
                            {% render(controller('PileUpScheduleBundle:Dashboard:getAccounts')) %}
                    </div>

                    <div class="small-6 columns account-controls">
                            <p>Select an account to view your dashboard</p>
                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block content %}

    {% if ajax %}
        {% render(controller('PileUpScheduleBundle:Dashboard:getTweets', {'page': page})) %}
    {% else %}
        <div class="row">

            <div class="large-6 small-12 columns">
                <h3>Your Tweets:</h3>

                {% render(controller('PileUpScheduleBundle:Dashboard:getTweets', {'page': page})) %}

            </div>

            <div class="large-6 small-12 columns">

                <div class="row">
                    <div class="small-12 columns">
                        <h3>Toolbox:</h3>

                        <div class="panel">
                            <a href="{{ path('pile_up_schedule_add_account') }}" title="Add Twitter Account">Add Twitter Account</a>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <h3>Quick Tweet:</h3>

                        <div class="panel">
                            *form to go here*
                        </div>

                    </div>
                </div>

            </div>

        </div>
    {% endif %}

{% endblock %}


